<h1 class="text-4xl font-black bg-green-400 p-6">URBAN TRANSPORT DASHBOARD</h1>
<div class="px-6 py-2 space-y-4 bg-gray-50">
  @if (isLoading()) {
    <p class="text-gray-500">Loading data...</p>
  } @else {
    <!-- KPI -->
    <div class="flex flex-row place-content-between">
      <div
        class="flex gap-4 items-center bg-white rounded-xl shadow-md border-1 border-gray-100 px-6 w-1/4"
      >
        <label class="text-lg font-medium">Selected Date:</label>
        <select
          class="border rounded px-3 py-2 text-sm flex grow"
          (change)="selectedDate.set($any($event.target).value)"
        >
          @for (date of availableDates(); track date) {
            <option [value]="date">
              {{ date }}
            </option>
          }
        </select>
      </div>
      <div class="flex flex-row gap-4">
        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Type of day</p>
          <p class="text-3xl font-semibold">{{ dayType() | titlecase}}</p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Total Average Time Interval</p>
          <p class="text-3xl font-semibold">{{ averageInterval() | number }} mins.</p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Daily Passengers</p>
          <p class="text-3xl font-semibold">
            {{ dateTotalPassengers() | number }}
          </p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 border-1 border-gray-100">
          <p class="text-sm text-gray-700">Total Passengers</p>
          <p class="text-3xl font-semibold">
            {{ totalPassengers() | number }}
          </p>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-md overflow-hidden border-1 border-gray-100">
      <table class="w-full text-sm">
        <thead class="bg-gray-100 text-left">
          <tr>
            <th class="p-3 cursor-pointer select-none w-1/9" (click)="toggleSort('line')">
              Line
              <span class="ml-1 text-s text-gray-800">
                @if (sortField() === 'line') {
                  {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
              </span>
            </th>
            <th class="p-3 cursor-pointer select-none w-2/9" (click)="toggleSort('passengers')">
              Passengers
              <span class="ml-1 text-s text-gray-800">
                @if (sortField() === 'passengers') {
                  {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
              </span>
            </th>
            <th class="p-3 cursor-pointer select-none w-2/9" (click)="toggleSort('delta')">
              Δ of Passengers
              <span class="ml-1 text-s text-gray-800">
                @if (sortField() === 'delta') {
                  {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
              </span>
            </th>
            <th class="p-3 cursor-pointer select-none w-2/9" (click)="toggleSort('deltaPercent')">
              Δ% of passengers
              <span class="ml-1 text-s text-gray-800">
                @if (sortField() === 'deltaPercent') {
                  {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
              </span>
            </th>
            <th class="p-3 cursor-pointer select-none w-1/3" (click)="toggleSort('time')">
              Average Time of Arrival per Line
              <span class="ml-1 text-s text-gray-800">
                @if (sortField() === 'time') {
                  {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (row of sortedData(); track row.line) {
            <tr class="border-t">
              <td class="p-3 font-medium w-1/9">{{ row.line }}</td>
              <td class="p-3 w-2/9">{{ row.passengers | number }}</td>
              <td class="p-3 w-2/9">{{ row.deltaPassengers != null ? (row.deltaPassengers | number) : '-' }}</td>
              <td class="p-3 w-2/9">{{ row.deltaPercent != null ? (row.deltaPercent | number:'1.0-2') + '%' : '-' }}</td>
              <td class="p-3 w-2/9">{{ row.avgIntervalMinutes | number }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  <div class="flex flex-row place-content-between">
    <div class="bg-white rounded-xl shadow-md border-1 border-gray-100 p-6 w-5/11">
    <h2 class="text-lg font-semibold mb-4">Passenger Volume Over Time</h2>

    <canvas baseChart [data]="lineChartData()" [type]="'line'"> </canvas>
  </div>
  </div>
</div>
