<h1 class="text-4xl font-black bg-green-400 p-6">URBAN TRANSPORT DASHBOARD</h1>
<div class="px-6 pt-2 pb-6 space-y-6 bg-gray-50">
  @if (isLoading()) {
    <p class="text-gray-500">Loading data...</p>
  } @else {
    <!-- KPI -->
    <div class="flex flex-row place-content-between">
      <div
        class="flex gap-4 items-center bg-white rounded-xl shadow-md border-1 border-gray-100 px-6 w-1/4"
      >
        <label class="text-lg font-medium">Selected Date:</label>
        <select
          class="border rounded px-3 py-2 text-sm flex grow"
          (change)="selectedDate.set($any($event.target).value)"
        >
          @for (date of availableDates(); track date) {
            <option [value]="date">
              {{ date }}
            </option>
          }
        </select>
      </div>
      <div class="flex flex-row gap-4">
        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Type of day</p>
          <p class="text-3xl font-semibold">{{ dayType() | titlecase }}</p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Total Average Time Interval</p>
          <p class="text-3xl font-semibold">{{ averageInterval() | number }} mins.</p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 w-fit border-1 border-gray-100">
          <p class="text-sm text-gray-700">Daily Passengers</p>
          <p class="text-3xl font-semibold">
            {{ dateTotalPassengers() | number }}
          </p>
        </div>

        <div class="bg-white rounded-xl shadow-md p-4 border-1 border-gray-100">
          <p class="text-sm text-gray-700">Total Passengers</p>
          <p class="text-3xl font-semibold">
            {{ totalPassengers() | number }}
          </p>
        </div>
      </div>
    </div>

    <app-transport-table [data]="filteredData()"> </app-transport-table>
    <div class="flex flex-row gap-4 pt-6">
      <app-pass-lchart
        [data]="records()"
        class="bg-white rounded-xl shadow-md border-1 border-gray-100 p-6 flex-1 min-w-0"
      />
      <app-demand-bchart
        [data]="filteredData()"
        class="bg-white rounded-xl shadow-md border-1 border-gray-100 p-6 flex-1 min-w-0"
      >
      </app-demand-bchart>
    </div>
  }
</div>
