<footer class="flex flex-col border-t-1 border-gray-100 bg-green-400 text-md font-black text-center p-5 gap-2">
  <p class="p">Urban Transport Dashboard — Mocked data for visualization purposes</p>
  <a href="/data/transport-data.json" target="_blank" class="font-normal underline"
    >Link to see mocked JSON data</a
  >

  <p class="pt-6 font-bold">Made by Juan Alva - 2026</p>
  <p class="font-bold">This Website uses Angular and Tailwind CSS</p>
  <p class="font-bold">Additional Resources: Chart JS for Angular</p>
</footer>
